{% extends 'base.html.twig' %}

{% block body %}
        <div id="fh5co-main">
            <p style="text-align: center;">This blog is a wall especially dedicated to freedom of expression each opinion could be visible of all. 
            <br/>Since our form, express as of now by posting your anger, your messages of loves or hope, your questions...</p>
            <a href="{{ path('post') }}" class="btn btn-primary" style="display: block; width: 25%; margin: 0 auto 20px;">Add my post</a>
        </div>
    	 <div id="fh5co-board" data-columns>
            {% for post in posts %}
        	<div class="item animate-box">
            	    {# <a href="{{ asset('images/img_10.jpg') }}" class="image-popup fh5co-board-img"><img src="{{ asset('images/img_10.jpg') }}" alt="image"></a> #}
                    <div class="fh5co-desc">
                        <h4>{{ post.title }}</h4>
                        <p>{{ post.content }}</p>
                        <span style="font-style: italic; font-size: 11px; color: #EF5353;"><i class="icon-user"></i> Posted by {{ post.fullname }} - {{ post.publishedAt|date }}</span>
                        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-block btn-sm btn-outline" style="display: block; text-align: center; padding: 10px; margin: 10px auto 0px; font-size: 13px;">Lire la suite</a>
                    </div>
        	</div>
            {% endfor %}
        </div>
{% endblock %}
