{% extends 'base.html.twig' %}

{% block body %}
<div id="fh5co-main">
    <h2>Users list</h2>
    {% if users|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'user.id'|trans }}</th>
                <th>{{ 'user.username'|trans }}</th>
                <th>{{ 'user.email'|trans }}</th>
                <th>{{ 'user.registered_at'|trans }}</th>
                <th>{{ 'user.is_admin'|trans }}</th>
                <th>{{ 'user.fullname'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registeredAt |date }}</td>
                    <td>{{ user.isAdmin }}</td>
                    <td>{{ user.fullname }}</td>
                    {# <td><a class="btn btn-primary" href="{{ path('contact_show', {'id': user.id}) }}">View</a></td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No users.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-warning">No users.</div>
    {% endif %}
</div>


{% endblock %}
